# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\src\my\wine-review-parser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
